@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
    --link-primary: 258, 86, 34;

    --selected: 0, 113, 188;
    --drawer: 255,255,255;

    --chart-1: 220 75% 40%;
    --chart-2: 218 80% 45%;
    --chart-3: 216 85% 50%;
    --chart-4: 214 90% 55%;
    --chart-5: 212 95% 60%;

  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --selected: 0, 113, 188;
    --drawer: 0, 23, 31
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes loading-border {
  0% {
    transform: translateX(-100%);
    background-color: rgb(var(--selected)); /* Starting color */
  }
  100% {
    transform: translateX(100%);
    background-color: rgba(var(--selected), 0.5); /* Ending color */
  }
}

.loading-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: loading-border 1s linear infinite;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  overscroll-behavior: none;
}

.title {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
}

/* Add to your global CSS or a CSS module */
.perspective {
  perspective: 1000px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 2px; /* Rounded corners of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 12px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb when hovered */
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

[vaul-drawer]::after {
  background-color: transparent !important
}